$dark-salmon: #e69374ff;
$primary: #668CAC;
$primary-darken: rgb(88, 120, 146);
$secondary: #a0c1b9ff;
$opal-lighten: rgb(195, 233, 223);
$opal: #a0c1b9ff;
$opal-darken: rgb(139, 168, 161);
$peach: #fcde9eff;
$baby-powder: rgb(249, 252, 247);
$baby-powder-darken: rgb(235, 238, 232);
$black-olive: #454545ff;
$black-olive-lighten: rgb(92, 91, 91);