$dark-salmon: #e69374ff;
$opal: #a0c1b9ff;
$opal-darken: rgb(129, 156, 150);
$peach: #fcde9eff;
$baby-powder: rgb(249, 252, 247);
$baby-powder-darken: rgb(235, 238, 232);
$black-olive: #454545ff;
$black-olive-lighten: rgb(92, 91, 91);